.page {
  padding: 26px 0;
}

.bigLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.mainImg {
  max-width: 100%;
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  max-width: 508px;
}
