$font-roboto: roboto, sans-serif;
$font-karla: karla, sans-serif;
$color-white: #fff;
$color-text-primary: #000000de;
$color-text-secondary: #0009;
$color-text-label: #3f3f3f;
$color-border: #393939;
$shadow-bar: -2px 0 8px 2px #0000001a;
