.header {
  background: $color-white;
  box-shadow: $shadow-bar;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1044px;
  height: 60px;
  margin: 0 auto;
}

.logo {
  width: 48px;
  height: 50px;
}
