.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.alive {
  background-color: $color-success;
}

.dead {
  background-color: $color-error;
}

.unknown {
  background-color: $color-warning;
}
